.cartContainer {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cartList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--light-gray);
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  justify-content: space-between; /* Alinha os itens e o botão de remover */
}

.cartItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.itemImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.itemDetails {
  flex-grow: 1;
}

.itemDetails h3 {
  margin: 0;
  font-size: 1.1rem;
}

.itemDetails p {
  margin: 5px 0;
  font-size: 0.95rem;
}

.summary {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
  text-align: right;
}

.totalPrice {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin: 0 0 15px 0;
}
