.giftList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  
.giftItem {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
  
.giftItem:hover {
    transform: scale(1.05);
}
  
.giftImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
  