.countdown {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

.countdown h2 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.countdownTimer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.countdownItem {
  background-color: var(--hover-color);
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countdownItem span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--white);
}

.countdownItem p {
  margin: 5px 0 0;
  font-size: 1rem;
  color: var(--white);
}
