.gifts {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.gifts h2 {
    font-size: 1.8rem;
    color: #5d4037; /* Marrom escuro */
    margin-bottom: 20px;
}

.giftList {
    list-style: none;
    padding: 0;
}

.giftItem {
    margin: 10px 0;
}

.giftItem a {
    text-decoration: none;
    color: #5d4037; /* Marrom escuro */
    font-weight: bold;
}

.giftItem a:hover {
    color: #8d6e63; /* Marrom claro ao passar o mouse */
}