.button {
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 0.95rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  text-align: center;
  display: inline-block;
}

/* Variação Primary */
.primary {
  background-color: var(--text-color);
  color: var(--secondary-bg);
}

.primary:hover {
  background-color: var(--hover-color);
}

/* Variação Secondary */
.secondary {
  background-color: var(--white);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.secondary:hover {
  background-color: var(--hover-color);
  color: var(--secondary-bg);
  border: 1px solid var(--hover-color);
}

/* Variação Danger */
.danger {
  background-color: var(--danger);
  color: var(--secondary-bg);
}

.danger:hover {
  background-color: var(--danger-hover);
}

/* Estado Desabilitado */
.button:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
  opacity: 0.7;
}
