* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Crimson Pro", sans-serif;
  background-color: var(--primary-bg);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}

main {
  min-height: calc(100vh - 120px);
  text-align: center;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.giftList {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Ajusta automaticamente */
  gap: 20px;
  padding: 20px;
  text-align: center;
  max-width: 1200px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza na tela */
}

@media (max-width: 768px) {
  .giftList {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 itens por linha em telas ainda menores */
  }
}

@media (max-width: 480px) {
  .giftList {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 1 item por linha em telas muito pequenas */
  }

  .giftImage {
    height: 100px; /* Altura ainda menor para mobile */
  }
}

/* Estilos para telas menores (celulares) */
@media (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    padding: 15px;
  }

  footer {
    padding: 15px;
  }
}
