.checkoutContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 20px auto;
  max-width: 960px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cartSection {
  flex: 1;
  border-right: 1px solid var(--light-gray);
  padding-right: 20px;
}

.cartList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--light-gray);
}

.itemImage {
  width: 80px; 
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.itemDetails {
  flex-grow: 1;
}

.itemDetails h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.itemDetails p {
  margin: 0;
  font-size: 16px;
}

.totalPrice {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
}

.paymentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer label {
  margin-bottom: 10px;
  color: var(--text-color);
}

.messageInput {
  width: 100%;
  padding: 10px;
  height: 5rem;
  border-radius: 8px;
  border: 1px solid var(--light-gray);
  box-sizing: border-box;
  resize: vertical;
  color: var(--text-color);
}

.messageInput::placeholder {
  color: var(--light-gray);
}

.error {
  color: var(--danger);
  font-size: 16px;
  margin-bottom: 15px;
}

/* Media Query para Responsividade */
@media (max-width: 768px) {
  .checkoutContainer {
    padding: 15px;
    flex-direction: column;
    margin: 10px;
  }

  .cartSection {
    border-right: none;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .totalPrice {
    text-align: left;
    margin-top: 10px;
  }

  .paymentSection {
    padding-left: 0;
  }

  .inputContainer label {
    font-size: 14px;
  }
}
