/* Estilos básicos do header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  height: 80px;
}

/* Logo */
.logo a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Menu padrão */
.nav {
  display: flex;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: 0.3s;
}

.nav ul li a:hover {
  color: var(--hover-color);
}

/* Esconder menu no mobile */
@media (max-width: 1034px) {
  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 0 20px;
    background-color: var(--primary-bg);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav.open {
    display: flex;
  }

  .nav ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 0;
  }

  .nav ul li {
    width: 100%;
    padding: 10px 0;
  }

  .nav ul li a {
    font-size: 1.2rem;
    display: block;
    width: 100%;
    padding: 10px 0;
  }
}

/* Botão do menu */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .bar {
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  transition: 0.3s;
}

.hamburger:hover {
  .bar {
    background-color: var(--hover-color);
  }
}

@media (max-width: 1034px) {
  .hamburger {
    display: flex;
  }
}
