.header {
    background-color: #d2b48c; /* Bege médio */
    padding: 20px;
    text-align: center;
    color: #fff; /* Texto branco */
}

.navList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navList li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navList li a:hover {
    color: #8d6e63; /* Marrom claro ao passar o mouse */
}