.giftItem {
  background: white;
  padding: 10px; /* Padding reduzido */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giftItem:hover {
  transform: scale(1.05);
}

.giftImage {
  width: 100%;
  height: 250px; /* Altura reduzida */
  object-fit: cover;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px; /* Margem reduzida */
}

.giftItem.addedToCart {
  opacity: 0.6;
  z-index: -1;
}

/* Responsividade */
@media (max-width: 1024px) {
  .giftList {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 itens por linha em telas menores */
  }
}

@media (max-width: 768px) {
  .giftList {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 itens por linha em telas ainda menores */
  }
}

@media (max-width: 480px) {
  .giftList {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 1 item por linha em telas muito pequenas */
  }

  .giftImage {
    height: 100px; /* Altura ainda menor para mobile */
  }
}
