.giftItem {
  background: var(--white);
  padding: 10px; /* Padding reduzido */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.giftItem:hover {
  transform: scale(1.05);
}

.giftImage {
  height: 250px; /* Altura reduzida */
  object-fit: cover;
  border-radius: 8px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px; /* Margem reduzida */
}

.giftItem.addedToCart {
  opacity: 0.6;
  z-index: -1;
}

/* Estilos para telas menores (celulares) */
@media (max-width: 480px) {
  .giftItem {
    margin: 0 10px;
  }

  .giftImage {
    height: 150px; /* Altura ainda menor para mobile */
  }
}
