/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  text-align: center;
  background-color: #f5f5dc; /* Bege claro */
  color: #8d6e63; /* Marrom escuro */
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  color: #8d6e63; /* Marrom escuro */
  margin-bottom: 10px;
}

h2 {
  margin: 20px 0;
  color: #8d6e63; /* Marrom escuro */
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
  background-color: #fff; /* Fundo branco para as seções */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 800px;
  margin: 0 auto;
}

.giftList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 itens por linha */
  gap: 20px;
  padding: 20px;
  text-align: center;
  max-width: 1200px; /* Limita a largura máxima */
  margin: 0 auto; /* Centraliza na tela */
}

/* Estilos para telas menores (celulares) */
@media (max-width: 1034px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    padding: 15px;
  }

  footer {
    padding: 15px;
  }
}
